/* -Подскажите, почему в кнопки не подтягивает font-family с body?
-введи для кнопки font-family:inherit */

:root {
  --white-color: #ffffff;
  --black-color: #212121;
  --blue-color: #2196f3;
  --grey-color: #757575;
  --outline: 2px solid tomato;
}

html {
  display: flex;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
}
.container-header {
  display: flex;
  margin: 0px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 24px;
  padding-bottom: 25px;

  /* display: flex;
  align-items: center; */
}
.items-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-list {
  display: inline-flex;
  align-items: center;
  margin: 0px;
  padding-left: 85px;
}
.nav-list-item {
  padding-right: 50px;
}
.nav-list .nav-list-item:last-child {
  padding-right: 0px;
}
.container-connection {
  display: flex;
  align-items: center;
  padding-left: 305px;

  margin: 0px;
}
.container-connection .container-connection-items {
  display: flex;
  margin: 0px;
}
.container-connection-items .list-connection:last-child {
  padding-right: 0px;
}
.container-connection-items {
  padding: 0;
}

.list-connection {
  display: inline-flex;
  align-items: center;
  padding-right: 30px;
}

/* селекторы тегов */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* PORTFOLIO MAIN */
.container-lead {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.portfolio-filter {
  display: flex;
  justify-content: space-between;
  padding-left: 280px;
  padding-right: 280px;
  margin-bottom: 56px;
}
.container-box {
  display: flex;
  width: 1200px;
  margin-bottom: 94px;
}
.box-items {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.section-portfolio {
  flex-direction: column;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.felx-outline {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.felx-outline:nth-child(3n) {
  margin-right: 0;
}
.felx-outline:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.button:hover,
.button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.main-portfolio {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
  background: #ffffff;
}

.button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.abzac-menu {
  margin-left: 24px;
  margin-top: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.h2-portfolio {
  margin-left: 24px;
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.hidden {
  color: darkgray;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* STUDIO MAIN */
.main-studio {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.hero {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.section-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 200px;
}
.h1-studio {
  text-align: center;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.section-hero-button {
  padding-top: 46px;
  padding-bottom: 200px;
  text-align: center;
}
.button-hero {
  text-align: center;
  width: 200px;
  height: 50px;
  border: 1px solid #0a3c59;
  text-align: center;
  background-color: blue;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-features {
  width: 1200px;
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}
.container-features-svg {
  display: flex;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.section-desktop {
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
  margin: 0px;
  padding: 0px;
}
.desktop-list-items {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-right: 30px;
}
.desktop-list-items:last-child {
  padding: 0px;
}

.section-features-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.features-items-list {
  padding-right: 30px;
}
.features-items-list:last-child {
  padding-right: 0px;
}
.features-name {
  padding-top: 30px;
  margin: 0px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}

.features-title {
  padding-top: 10px;
  margin: 0px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  color: var(--grey-color);
}

.section-command {
  background: #f5f4fa;
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2-studio {
  padding-bottom: 50px;
  margin: 0px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.command-list {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 0px;
  padding: 0px;
}
.command-items {
  background: #ffffff;
  border-radius: 4px;
  margin-right: 30px;
}
.command-items:last-child {
  margin-right: 0;
}

.soft {
  background-color: burlywood;
  text-align: center;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.user {
  padding-top: 30px;
  text-align: center;
  margin: 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.user-skill {
  padding-top: 10px;
  margin: 0;
  text-align: center;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.container-seti {
  text-align: center;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 31px;
}
.user-seti {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.section-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-right: 15px;
  padding-left: 15px;
}
.logo-client {
  display: flex;
  width: 1170px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.logo-client-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 90px;
  margin-right: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.logo-client-items:last-child {
  margin-right: 0;
}

/* <------------------------------------ ОБЩИЕ СЕЛЕКТОРЫ ------------------------------------> */

/* HEADER */

.nav-menu {
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.nav-menu:hover,
.nav-menu:focus,
.nav-contact:hover,
.nav-contact:focus {
  color: var(--blue-color);
}

.logo {
  color: var(--blue-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.studio-header {
  color: var(--black-color);
}
.nav-contact {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--grey-color);
}

/* FOOTER */
.container-footer {
  align-items: baseline;
  width: 1200px;
  padding-top: 48px;
  padding-right: 15px;
  padding-left: 15px;
}
.footer-content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 1200;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-page {
  background-color: #2f303a;
}
.footer-contacts {
  padding-top: 48px;
  margin-right: 69px;
}
.container-footer-list {
  display: flex;
  justify-content: flex-start;
}

.studio-footer {
  color: var(--white-color);
}

.footer-adress {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}
.adress-items {
  margin-top: 10px;
  margin-bottom: 28;
  padding: 0;
}

.footer-contact {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-connect {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-copyright {
  text-align: center;
  margin-top: 18px;
  margin-bottom: 21px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.4);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--blue-color);
}

.footer-seti {
  display: flex;
  padding: 0;
  margin: 0;
}
.footer-seti-items {
  margin-right: 10px;
}
.footer-seti-items:last-child {
  margin-right: 0;
}
